<ion-tabs>
  <ion-tab tabIcon="heart" [root]="tab1"></ion-tab>
  <ion-tab tabIcon="star" [root]="tab2"></ion-tab>
</ion-tabs>`

<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>



<ion-content padding>
  <button ion-button (click)="btnPushClicked()">pulsame PRRO</button>
    <ion-list>
        <ion-item *ngFor="let item of ObjetosListRef2$ | async">
              <ion-label>Valor del sensor: {{item.Estado}}</ion-label>
              
              <!--(ionChange)="UPD(item, item.Estado)"-->

          </ion-item>
        </ion-list>

    <ion-list>
        <ion-item *ngFor="let item of ObjetosListRef$ | async">
              <ion-label>{{item.Objeto}}</ion-label>
              <ion-toggle (ionChange)="EST(item, item.Estado)" checked='{{item.Estado}}'></ion-toggle>
          </ion-item>
    </ion-list>
  <h2>{{Animal}}</h2>
  <ion-input [(ngModel)]="Animal" type="text"></ion-input>
  <!--src es para dar una ruta -->
    <!-- Ruta poner imagen:  ../assets/imgs/crash.png-->
  <ion-img width="300" height="350" src="../assets/imgs/crash.png"></ion-img>
  <ion-item><ion-label>Ocultar/Mostrar</ion-label>
  <ion-toggle (ionChange)="Est()" [(ngModel)]="Estado">
  </ion-toggle></ion-item>
  <ion-item ion-iteam full *ngFor="let A of Animales"><h2>{{A}}</h2></ion-item>
  <h2 *ngFor="let item of items">{{item.item}}</h2>
  <p>
    Este proyecto fue realizado en el taller de robotica del Instituto sanmiguelense con la ayuda de
    Peter
  </p>
  <p>
    Hechale un vistazo a <code>src/pages/</code> para ver que ocurre
  </p>
  
</ion-content>

